                <header class="hidden lg:block fixed top-0 right-0 z-[10] transition-[width] duration-150 group/header-fixed h-[calc(var(--eleven-header-height)+var(--eleven-banner-height))] border-b"
                        style="width:calc(100% - var(--eleven-sidebar-width))">
                    <div class="h-[var(--eleven-header-height)] w-full mx-auto hstack items-center gap-3.5 bg-background/90 backdrop-blur-[8px] border-b max-w-[100vw] px-5"
                         style=opacity:1;visibility:visible>
                        <div><h3 data-testid=page-title
                                 class="font-waldenburg-ht text-lg text-foreground font-semibold">Settings</h3>
                        </div>
                        <nav class="inline-flex text-subtle border border-subtle items-center justify-center rounded-[10px] bg-none h-9 p-1 border-none"></nav>
                        <div class=flex-1></div>
                        <div class="hstack items-center max-h-full w-fit gap-2 empty:hidden">
                            <div class=contents>
                                <div class="hidden lg:contents">
                                    <button type=button onclick="openFeedbackModal()"
                                            class="relative inline-flex items-center justify-center whitespace-nowrap font-medium transition-colors duration-75 focus-ring disabled:pointer-events-auto data-[loading='true']:!text-transparent bg-background border border-gray-alpha-200 hover:bg-gray-alpha-50 active:bg-gray-alpha-100 radix-state-open:bg-gray-alpha-50 hover:border-gray-alpha-300 text-foreground shadow-none active:border-gray-alpha-300 disabled:bg-background disabled:text-gray-300 disabled:border-gray-alpha-200 radix-state-open:border-gray-alpha-300 h-8 px-2.5 rounded-lg text-xm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="lucide lucide-message-circle w-4 h-4 text-[inherit] opacity-100 -ml-[3px] mr-[5px]">
                                            <path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z"></path>
                                        </svg>
                                        Feedback
                                    </button>
                                    <a href="https://docs.artorizer.com"
                                       target=_blank
                                       class="relative inline-flex items-center justify-center whitespace-nowrap font-medium transition-colors duration-75 focus-ring disabled:pointer-events-auto data-[loading='true']:!text-transparent bg-background border border-gray-alpha-200 hover:bg-gray-alpha-50 active:bg-gray-alpha-100 radix-state-open:bg-gray-alpha-50 hover:border-gray-alpha-300 text-foreground shadow-none active:border-gray-alpha-300 disabled:bg-background disabled:text-gray-300 disabled:border-gray-alpha-200 radix-state-open:border-gray-alpha-300 h-8 px-2.5 rounded-lg text-xm w-full">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                             stroke-linejoin="round"
                                             class="lucide lucide-book-text w-4 h-4 text-[inherit] opacity-100 -ml-[3px] mr-[5px]">
                                            <path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 0 1 0-5H20"></path>
                                            <path d="M8 11h8"></path>
                                            <path d="M8 7h6"></path>
                                        </svg>
                                        Documentation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <header class="lg:hidden fixed top-0 h-[calc(var(--eleven-header-height)+var(--eleven-banner-height))] w-full bg-background/90 backdrop-blur-[8px] stack z-[10] sf-hidden"></header>
