                                                    <div id="tab-progress" role="tabpanel" class="tab-pane h-full absolute top-0 left-0 right-0" data-state="inactive" style="opacity:0; transform:none; display:none">
                                                        <div class="stack h-full overflow-hidden">
                                                            <div class="-mx-5 flex-1 stack px-5 scroll-py-12" style="position:relative; overflow-y:auto; overflow-x:visible">
                                                                <div id="progress-tracker-content" class="stack gap-3">
                                                                    <!-- Progress steps will be dynamically added here based on selected protections -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
